*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --primary: hsl(200, 70%, 50%);
  --secondary: hsl(160, 0%, 60%);
  --success: hsl(110, 70%, 50%);
  --danger: hsl(15, 70%, 50%);
  --warning: hsl(55, 70%, 50%);
  --info: hsl(170, 70%, 50%);

  --light: ghostwhite;
  --dark: hsl(0, 0%, 15%);

  --navbar-height: 75px;
}

.btn {
  --personal: black;
  background-color: white;
  border-width: 2px;
  border-style: solid;
  border-color: var(--personal); 
  border-radius: 5px;
  box-shadow: 1px 2px 3px 1px var(--secondary);
  color: var(--personal);
  cursor: pointer;
  font-weight: bold;
  height: max-content;
  padding: 15px 10px;
  text-align: center;
  transition: 0.15s;
}
.btn.primary { --personal: var(--primary); }
.btn.secondary {  --personal: var(--secondary); }
.btn.success { --personal: var(--success); }
.btn.danger {  --personal: var(--danger); }
.btn.warning { --personal: var(--warning); }
.btn.info { --personal: var(--info); }
.btn:hover { 
  background-color: var(--personal);
  color: white;
}

.btn.round {
  aspect-ratio: 1 / 1;
  border-radius: 100px;
}
.btn.little {
  padding: 5px;
}
.btn:hover {
  --hsl-lightness: 40%;
}

.inpt {
  border: 2px solid var(--secondary);
  border-radius: 3px;
  width: 0;
  min-width: 100%;
  padding: 10px 15px;
  outline: transparent;
  transition: 0.25s;
}
.inpt:focus {
  border: 2px solid black;
}

a {
  text-decoration: none;
}
